# LaTeX
build/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# macOS Files
.DS_Store

# Compiled and downloaded documents
*.pdf

# Keep fritzing
!00-Mikroprozessor/weatherstation_rpi2.pdf

# Ignore pickle files
*.pkl
